html {
    box-sizing: border-box;
    font-family: "Montserrat", "Roboto", sans-serif;
    background-color: hsla(0, 0%, 85%, 1);
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
main {
    color: hsla(266, 56%, 59%, 1);
}

/* header */
header {
 background-image: url(images/wallhaven-l3qowr.png);
 background-size: 100%;
 height: 468px;
 width: 100%;
 background-repeat: no-repeat;
 background-position: right;
 
}

h1 {
    color: white;
    font-size: 4em;
    letter-spacing: 0.2em;   
    font-weight: bold;
}

/* navigation */

ul {
    background-color: hsla(266, 56%, 59%, 1);
    height: 60px;
}
ul li {
    position: relative;
    top: 12px;
    display: inline;
    font-size: 1.9em;
    margin-right: 350px;
}

ul li a {
    text-decoration: none;
}

ul li:hover {
    font-weight: bold;
    text-shadow: hsla(150, 0%, 100%, 1) 0 0 40px;
}

ul li:active {
    color:  hsla(150, 0%, 100%, 1);
}


/* main */
h2 {
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    font-size: 1.7em;
}

/* styling colour div */
.colours {
    display: flex; 
    justify-content: space-evenly; 
    height: 148px;
    margin: 70px 0px;
}   

.colours p {
    font-size: 1.4em;
}

.blue,
 .violet,
  .orange,
   .electric {
    color: hsla(150, 0%, 100%, 1);
    padding-top: 60px;
    text-align: center;
}


.blue {
    width: 400px;
    height: 148px;
    background-color: hsla(190, 100%, 54%, 1);
}  
.violet {
    width: 400px;
    height: 148px;
    background-color: hsla(287, 100%, 50%, 1);
}
.orange {
    width: 400px;
    height: 148px;
    background-color: hsla(8, 100%, 68%, 1);
}
.electric {
    width: 400px;
    height: 148px;
    background-color:hsla(155, 100%, 50%, 1);
}



/* Styling the fonts div */

.Fonts {
    display: flex;
    justify-content: space-between;
    margin: 70px;
    padding: 15px;
}

/* Roboto heading style  and paragraphs */
.Roboto h3 {
    text-align: center;
    font-size: 1.5em;
    font-family: "Roboto";
    margin-bottom: 10px;
}

.Roboto p {
    justify-content: space-evenly;
    font-family: "Roboto";
    font-size: 1.4em;
}
/* Montserrat heading style  and paragraphs  */
.Montserrat h3 {
    text-align: center;
    font-size:  1.5em;
    font-family: "Montserrat";
    margin-bottom: 10px;
}

.Montserrat p {
    justify-content: space-evenly;
    font-family: "Montserrat";
    font-size: 1.4em;
}

/* Style Text Styles */

.Text_Styles {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0px;
}

.Heading, .Paragraphs { 
    font-size: 1.4em;
}

/* Footer */

footer {
    background-image: url(images/wallhaven-l3qowr.png);
    height: 201px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: left;
    margin: 0;
}

footer h3 {
    position: relative;
    top: 160px;

    font-family: "Montserrat";
    font-size: 2em;
}


 i {
    position: relative;
    top: 100px;
    left: 1700px;
    padding-right: 15px;
    font-size: 3em;
}